.body_background 
{
    background-image: url("https://wallpaperaccess.com/full/311206.jpg");
    background-position: center;
    background-size: cover;
}
h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}

